nav ul li a {
  position: relative;
  padding: .4rem;
  cursor: pointer;
}

nav ul li a:hover {
  color: #85CB33;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0; /* Hacer que sobresalga a la izquierda */
  right: 0; /* Hacer que sobresalga a la derecha */
  height: 3px;
  background-color: transparent;
  transition: all .3s ease;
}

nav ul li a:hover::after {
  background-color: #85CB33;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0; /* Hacer que sobresalga a la izquierda */
  right: 0; /* Hacer que sobresalga a la derecha */
  height: 3px;
  background-color: #85CB33;
}

.active-link {
  color: #85CB33;
  font-weight: bold;
}