.fondo-carrito-grupal {
  background-color: #0B141A;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url("/src/assets/fondoWsp.png");
  background-size: cover;

  scrollbar-width: thin;
  scrollbar-color: #5e5e5eaa transparent;
}

.fondo-sesion {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/src/assets/fondoSesion.png");
  background-size: cover;
  background-position: center;
}